html {
  height: 100%;
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%
}
#header {
  text-align: right;
  padding: 4em 4em;
  background-image: url(assets/overlay.png), url(assets/bg.jpg);
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  background-size: cover;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #header {
    flex: 1;
  }
  #main-content {
    flex: 2;
  }
}
#header p {
  opacity: 1;
  font-size: 1.75em;
  line-height: 2em;
}
#header p b {
  color: white;
  font-weight: normal;
}
#header a {
  text-decoration: none;
  margin: 0 1em;
}
#header .icon {
  opacity: 0.75;
}
img.avatar{
  border-radius: 50%;
  opacity: 1;
}
#main-content {
  padding: 4em 4em;
  height: 100%;
  color: #787878;
}
p.sections a {
  border: 2px solid #e7e7e7;
  padding: 15px 32px;
  text-decoration: none;
  color: #e7e7e7;
}
p.sections a:hover {
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}